<!Doctype HTML>

<html lang="es">
    <head>

    </head>
    <body>
        <!--comment-->
        <h2>
            jejejej
        </h2>
        <img src="/home/ayuda204/Documentos/react/files/vim_cheat_sheet_for_programmers_screen.png" alt="vimCheatSheet">
        <main>
            <p>ClickkkkkClickkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkClickkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkClickkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkClickkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkClickkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>
            <p><a href="https://cadenaser.com/">ser</a></p>

        </main>
        
    </body>
</html>